# Operating System Files
.DS_Store
Thumbs.db
desktop.ini

# Editor & IDE files
.vscode/
.idea/
*.swp
*.swo

# Node / NPM / Tooling
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs & Temporary files
*.log
scratch/
preview.png
